/* Updated thank-you.css */

.thank__you {
    text-align: center;
    padding: 2rem;
    border-radius: 0.5rem;
     /* Set your desired background color */
  }
  
  .thank__you span i {
    font-size: 4rem;
    color: #2b642d;
    background-color: #4caf4f2f; /* Same as the background color for the icon's background */
    padding: 0.5rem; /* Add padding for better visual appearance */
    border-radius: 50%;
  }
  
  .thank__you h1 {
    font-size: 3.6rem;
    font-family: var(--subtitle-font-name);
    
  }
  
  .thank__you .btn {
    margin-top: 2rem;
  }
  
  .thank-you-section {
    height: 50vh; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  